name: CI-Web

on:
  push:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
  
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
       
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      
      - name: Install dependencies
        run: pnpm install --no-frozen-lockfile
      
      - name: Lint web
        run: pnpm --filter frontend run lint
      
      - name: Build web
        run: pnpm --filter frontend run build
      
      - name: Check API
        run: timeout 15s pnpm --filter backend run start || [ $? -eq 124 ]

  docker-build-and-push:
    runs-on: ubuntu-latest
    needs: build-and-test
    if: success()

    steps:
    - uses: actions/checkout@v3


    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_ACCESS_TOKEN }}

    - name: Build and push API Docker image
      uses: docker/build-push-action@v4
      with:
        context: ./api
        file: ./api/Dockerfile
        push: true
        tags: |
          ${{ secrets.DOCKERHUB_USERNAME }}/realroomapi:latest
          ${{ secrets.DOCKERHUB_USERNAME }}/realroomapi:${{ github.sha }}

    - name: Build and push WEB Docker image
      uses: docker/build-push-action@v4
      with:
        context: ./web
        file: ./web/Dockerfile
        push: true
        tags: |
          ${{ secrets.DOCKERHUB_USERNAME }}/realroomweb:latest
          ${{ secrets.DOCKERHUB_USERNAME }}/realroomweb:${{ github.sha }}

  deploy:
    runs-on: ubuntu-latest
    needs: docker-build-and-push
    if: success()
  
    steps:
      - name: Deploying on render 
        run: curl "${{ secrets.RENDER_DEPLOY_HOOK_URL }}"