name: CI-Web

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]


  deploy:
    runs-on: ubuntu-latest
  
    steps:
      - name: Deploying on render 
        run: curl "${{ secrets.RENDER_DEPLOY_HOOK_URL }}"