name: CI-Web

on:
  push:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
  
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
       
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      
      - name: Install dependencies
        run: pnpm install --no-frozen-lockfile
      
      - name: Lint web
        run: pnpm --filter frontend run lint
      
      - name: Build web
        run: pnpm --filter frontend run build
      
      - name: Check API
        run: pnpm --filter backend run start
  deploy:
    runs-on: ubuntu-latest
    needs: build-and-test
    if: success()
  
    steps:
      - name: Deploying on render 
        run: curl "${{ secrets.RENDER_DEPLOY_HOOK_URL }}"